Cannot retrieve IP SLA config or results

I am testing a couple of NETCONF-YANG models against an ASR9k router running IOS-XR 6.0.1.
Haven't gone through all of them, but so far so good, except:

 - cannot retrieve the configuration of the IP SLA probes using the model [Cisco-IOS-XR-infra-sla-cfg](https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/601/Cisco-IOS-XR-infra-sla-cfg.yang), firing XML requests with the following structure (wrapped into the rpc tag, of course):

```xml
<get-config><source><running/></source><filter><sla xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-sla-cfg"/></filter></get-config>
```

the device providing empty reply:

```xml
<rpc-reply message-id="urn:uuid:3d482929-2fde-4ffe-b2da-8bc99d12872e">
 <data/>
</rpc-reply>
```

 - cannot retrieve the results of the IP SLA probes using the model [Cisco-IOS-XR-infra-sla-oper](https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/601/Cisco-IOS-XR-infra-sla-oper.yang), the request being:

```xml
<get><filter><sla xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-sla-oper"/></filter></get>
```

the device replying again with empty body:

```xml
<rpc-reply message-id="urn:uuid:ac163174-fbf0-4056-b71a-f0b05dcac952">
 <data/>
</rpc-reply>
```

The device running quite a few probes - will paste only the first entries below.

- config:

```bash
RP/0/RSP0/CPU0:edge03.mrs02#sh run ipsla
Sat Jul 23 23:20:00.614 UTC
ipsla
 operation 1
  type icmp echo
   tag probe1
   history
    lives 1
    filter all
    buckets 15
   !
   source address 1.1.1.1
   destination address 2.2.2.2
   timeout 2000
   frequency 3
  !
```

- results:

```bash
RP/0/RSP0/CPU0:edge03.mrs02#sh ipsla stat
Sat Jul 23 23:24:08.868 UTC
Entry number: 1
    Modification time: 13:02:24.260 UTC Thu Jul 21 2016
    Start time       : 13:02:24.264 UTC Thu Jul 21 2016
    Number of operations attempted: 40230
    Number of operations skipped  : 29803
    Current seconds left in Life  : Forever
    Operational state of entry    : Active
    Operational frequency(seconds): 3
    Connection loss occurred      : FALSE
    Timeout occurred              : FALSE
    Latest RTT (milliseconds)     : 686
    Latest operation start time   : 23:23:57.042 UTC Sat Jul 23 2016
    Next operation start time     : 23:24:00.042 UTC Sat Jul 23 2016
    Latest operation return code  : OK
    RTT Values:
      RTTAvg  : 686        RTTMin: 686        RTTMax : 686
      NumOfRTT: 1          RTTSum: 686        RTTSum2: 470596
```

Is there anything I am missing?

Thanks,
Mircea

Hi,

RFC 6241, sec. 7.1 says the type attribute is optional.
Perhaps the server is buggy and not processing this operation correctly.

Perhaps changing <filter> to <filter type="subtree"> will make a difference.


Andy


On Sat, Jul 23, 2016 at 4:26 PM, Mircea Ulinic <notifications@github.com>
wrote:

> I am testing a couple of NETCONF-YANG models against an ASR9k running
> IOS-XR 6.0.1.
> Haven't gone through all of them, but so far so good except:
>
>    - cannot retrieve the configuration of the IP SLA probes using the
>    model Cisco-IOS-XR-infra-sla-cfg
>    <https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/601/Cisco-IOS-XR-infra-sla-cfg.yang>,
>    using XML requests with the following body (wrapped into the rpc tag, of
>    course):
>
> <get-config><source><running/></source><filter><sla xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-sla-cfg"/></filter></get-config>
>
> the device replying with empty body:
>
> <rpc-reply message-id="urn:uuid:3d482929-2fde-4ffe-b2da-8bc99d12872e">
>  <data/>
> </rpc-reply>
>
>
>    - cannot retrieve the results of the IP SLA probes using the model
>    Cisco-IOS-XR-infra-sla-oper
>    <https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/601/Cisco-IOS-XR-infra-sla-oper.yang>,
>    the request being:
>
> <get><filter><sla xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-sla-oper"/></filter></get>
>
> the device replying again with empty body:
>
> <rpc-reply message-id="urn:uuid:ac163174-fbf0-4056-b71a-f0b05dcac952">
>  <data/>
> </rpc-reply>
>
> On the device having quite a few probes configured - will paste only the
> first below:
>
> RP/0/RSP0/CPU0:edge03.mrs02#sh run ipsla
> Sat Jul 23 23:20:00.614 UTC
> ipsla
>  operation 1
>   type icmp echo
>    tag probe1
>    history
>     lives 1
>     filter all
>     buckets 15
>    !
>    source address 1.1.1.1
>    destination address 2.2.2.2
>    timeout 2000
>    frequency 3
>   !
>
> the results:
>
> RP/0/RSP0/CPU0:edge01.mrs01#sh ipsla stat
> Sat Jul 23 23:24:08.868 UTC
> Entry number: 1
>     Modification time: 13:02:24.260 UTC Thu Jul 21 2016
>     Start time       : 13:02:24.264 UTC Thu Jul 21 2016
>     Number of operations attempted: 40230
>     Number of operations skipped  : 29803
>     Current seconds left in Life  : Forever
>     Operational state of entry    : Active
>     Operational frequency(seconds): 3
>     Connection loss occurred      : FALSE
>     Timeout occurred              : FALSE
>     Latest RTT (milliseconds)     : 686
>     Latest operation start time   : 23:23:57.042 UTC Sat Jul 23 2016
>     Next operation start time     : 23:24:00.042 UTC Sat Jul 23 2016
>     Latest operation return code  : OK
>     RTT Values:
>       RTTAvg  : 686        RTTMin: 686        RTTMax : 686
>       NumOfRTT: 1          RTTSum: 686        RTTSum2: 470596
>
> Is there anything else I'm missing?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/YangModels/yang/issues/82>, or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ABugj8_Soi9UmC5VtBpiTtlmGjzzPzdAks5qYqMpgaJpZM4JTd00>
> .
>


Hi,

I'm sure this is obvious, but of course you tried the operation
without any filter and confirmed the data is there. If it is not
there, then the filter is not affecting the problem.


Andy


On Sat, Jul 23, 2016 at 4:26 PM, Mircea Ulinic <notifications@github.com>
wrote:

> I am testing a couple of NETCONF-YANG models against an ASR9k running
> IOS-XR 6.0.1.
> Haven't gone through all of them, but so far so good except:
>
>    - cannot retrieve the configuration of the IP SLA probes using the
>    model Cisco-IOS-XR-infra-sla-cfg
>    <https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/601/Cisco-IOS-XR-infra-sla-cfg.yang>,
>    using XML requests with the following body (wrapped into the rpc tag, of
>    course):
>
> <get-config><source><running/></source><filter><sla xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-sla-cfg"/></filter></get-config>
>
> the device replying with empty body:
>
> <rpc-reply message-id="urn:uuid:3d482929-2fde-4ffe-b2da-8bc99d12872e">
>  <data/>
> </rpc-reply>
>
>
>    - cannot retrieve the results of the IP SLA probes using the model
>    Cisco-IOS-XR-infra-sla-oper
>    <https://github.com/YangModels/yang/blob/master/vendor/cisco/xr/601/Cisco-IOS-XR-infra-sla-oper.yang>,
>    the request being:
>
> <get><filter><sla xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-sla-oper"/></filter></get>
>
> the device replying again with empty body:
>
> <rpc-reply message-id="urn:uuid:ac163174-fbf0-4056-b71a-f0b05dcac952">
>  <data/>
> </rpc-reply>
>
> On the device having quite a few probes configured - will paste only the
> first below:
>
> RP/0/RSP0/CPU0:edge03.mrs02#sh run ipsla
> Sat Jul 23 23:20:00.614 UTC
> ipsla
>  operation 1
>   type icmp echo
>    tag probe1
>    history
>     lives 1
>     filter all
>     buckets 15
>    !
>    source address 1.1.1.1
>    destination address 2.2.2.2
>    timeout 2000
>    frequency 3
>   !
>
> the results:
>
> RP/0/RSP0/CPU0:edge01.mrs01#sh ipsla stat
> Sat Jul 23 23:24:08.868 UTC
> Entry number: 1
>     Modification time: 13:02:24.260 UTC Thu Jul 21 2016
>     Start time       : 13:02:24.264 UTC Thu Jul 21 2016
>     Number of operations attempted: 40230
>     Number of operations skipped  : 29803
>     Current seconds left in Life  : Forever
>     Operational state of entry    : Active
>     Operational frequency(seconds): 3
>     Connection loss occurred      : FALSE
>     Timeout occurred              : FALSE
>     Latest RTT (milliseconds)     : 686
>     Latest operation start time   : 23:23:57.042 UTC Sat Jul 23 2016
>     Next operation start time     : 23:24:00.042 UTC Sat Jul 23 2016
>     Latest operation return code  : OK
>     RTT Values:
>       RTTAvg  : 686        RTTMin: 686        RTTMax : 686
>       NumOfRTT: 1          RTTSum: 686        RTTSum2: 470596
>
> Is there anything else I'm missing?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/YangModels/yang/issues/82>, or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ABugj8_Soi9UmC5VtBpiTtlmGjzzPzdAks5qYqMpgaJpZM4JTd00>
> .
>


Hi @abierman,

Thank you very much for looking into this.

I tried also with the attribute ```type="subtree"``` and the reply body is still empty.

Looking into the logs:

```bash
RP/0/RSP0/CPU0:edge03.mrs02#sh netconf-yang trace last 500
Mon Jul 25 10:00:17.985 UTC
[07/25/16 09:56:58.738 UTC 96f27 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=      oper-type
[07/25/16 09:56:58.738 UTC 96f28 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=     operation-schedule
[07/25/16 09:56:58.738 UTC 96f29 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=      start-time
[07/25/16 09:56:58.738 UTC 96f2a 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=      start-time-configured
[07/25/16 09:56:58.738 UTC 96f2b 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=      schedule-duration
[07/25/16 09:56:58.738 UTC 96f2c 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=      schedule-interval
[07/25/16 09:56:58.738 UTC 96f2d 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=     probe-type
[07/25/16 09:56:58.738 UTC 96f2e 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=     display-short
[07/25/16 09:56:58.738 UTC 96f2f 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=     display-long
[07/25/16 09:56:58.738 UTC 96f30 21016948] TRC: qt_resp_tree_generate_recursive:12851 ctx=1100c1b4,tid=0x4,qt resp tree gen tag=     flr-calculation-interval
```

Seems that the device is trying to compute the output.

It is very long and verbose, therefore I'm not sure it's a good idea to paste it here - would be helpful for you though?

However, I notice multiple warning entries having similar format to:

```bash
[07/25/16 09:56:58.746 UTC 970f2 21016948] WRN: sysdb_backend_list_more:1647 ctx=1100dcec,sysdb_datalist returned an error: 'sysdb' detected the 'warning' condition 'A SysDB client tried to access a nonexistent item or list an empty directory', sysdb_path: 'oper/sla/gl/protocol/ethernet/statistics-current/'
```

or 

```bash
[07/25/16 09:56:58.743 UTC 970b0 21016948] WRN: sysdb_backend_list_more:1647 ctx=1100dcec,sysdb_datalist returned an error: 'sysdb' detected the 'warning' condition 'A SysDB client tried to access a nonexistent item or list an empty directory', sysdb_path: 'oper/sla/gl/protocol/ethernet/statistics-history-ondemand/'
```


Thanks,
Mircea

Mircea,

I think you are facing a bug in support for this model. Let me follow up internally (I work for Cisco).

Cheers,

Einar


> Let me follow up internally (I work for Cisco).

That would be fantastic @einarnn. Thank you very much!

@mirceaulinic could you share the "show version" output from your ASR9K? If you dont wish to share that on github, please let me know how to contact you directly.

Cheers,

Einar

Hi @einarnn, I am happy to provide the output of "show version". There are also a couple of details that I'm not sure I'm allowed to provide. Would you mind contacting me by email: mircea [at] cloudflare [dot] com? Many thanks!

Mircea,

I'm afraid that the SLA model you have identified does not currently support IP-SLA configuration or operational state. It is a base model that, so far, has only been augmented to present Ethernet CFM.

Cheers,

Einar
